@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido a Learning Tracker.</h1>
    <p class="lead">La mejor plataforma de seguimiento</p>
    <p><a href="@Url.Content("~/Assignment/Create")" class="btn btn-primary btn-lg">Asignar un curso &raquo;</a></p>
</div>
