
@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>

<ul>
    <li><a href="@Url.Content("~/Admin/Users")">Usuarios</a></li>
    <li><a href="@Url.Content("~/Admin/Roles")">Roles</a></li>
    <li><a href="">Roles -> Permisos</a></li>
</ul>
