
@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>

<ul>
    <li><a href="@Url.Content("~/Admin/Users")"><h4>Usuarios</h4></a></li>
    <li><a href="@Url.Content("~/Admin/Roles")"><h4>Roles</h4></a></li>
    <li><a href="">Roles -> Permisos</a></li>
</ul>
